<h1>Enter horse's info</h1>
<form action="/horses" method="post">
  <p>Name</p>
  <input type="text" name="horse[name]" /><br/>
  <p>Age</p>
  <input type="text" name="horse[age]" /><br/>
  <p>Total Winnings</p>
  <input type="text" name="horse[total_winnings]" /><br/>
  <input type="submit" />
</form>
